
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Trip.js</title>
    <meta name="description" content="Trip.js is a plugin that can help you customize a tutorial trip easily with more flexibilities.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://eragonj.github.io/Trip.js/public/img/logo-tiny.png">

    <!-- styles-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/vendor/highlight/github.min.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="dist/trip.min.css">

    <!-- 3rd parties -->
    <script src="public/vendor/highlight/highlight.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="public/js/global.js"></script>

    <!-- tracking stuffs-->
    <script src="public/vendor/social/ga.js"></script>
    <script src="public/vendor/social/fb.js"></script>
    <script src="public/vendor/social/twitter.js"></script>

    <!-- include trip-->
    <script src="dist/trip.js"></script>
    <script src="public/js/demo-index.js"></script>
