!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Trip.js 
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='public/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='public/css/index.css')

        // include trip CSS
        link(rel='stylesheet', href='./src/trip.css')
        style(type='text/css')
            .wrapper div:nth-child(odd) {
                background : #AAA;
            }
            .wrapper div:nth-child(even) {
                background : #DDD;
            }
        script(src='public/vendor/modernizr-2.6.2.min.js')
        script(src='public/vendor/jquery-1.8.3.min.js')
        script(src='public/vendor/bootstrap/js/bootstrap.min.js')
        script(src='./src/trip.js')
        script
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=491695290890106";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        script
            $(document).ready(function() {
                var trip = new Trip([
                    { 
                        sel : $('.step1'), 
                        position : 'n', 
                        content : 'Hi, I am Trip.js', 
                        delay : 2000 
                    },
                    {
                        sel : $('.step2'),
                        position : 'e',
                        content : 'This is a plugin that can help you make hint flow easily !',
                        delay : 3000
                    },
                    {
                        sel : $('.step3'),
                        position : 'n',
                        content : 'Can be placed in many directinos - North',
                        delay : 2000
                    },
                    {
                        sel : $('.step4'),
                        position : 'e',
                        content : 'East',
                        delay : 2000
                    },
                    {
                        sel : $('.step5'),
                        position : 's',
                        content : 'South',
                        delay : 2000
                    },
                    {
                        sel : $('.step6'),
                        position : 'w',
                        content : 'west',
                        delay : 2000
                    },
                    {
                        sel : $('.step7'),
                        position : 'n',
                        content : 'One more thing, plz read this !',
                        expose : true,
                        delay : 7000
                    }
                ], {
                    onTripStart : function() {
                        console.log("onTripStart");
                    },
                    onTripEnd : function() {
                        console.log("onTripEnd");
                    },
                    onTripStop : function() {
                        console.log("onTripStop");
                    },
                    backToTopWhenEnded : true,
                    delay : 2000
                });

                $(".start-tour").click(function() {
                    trip.start(); 
                });

                window.trip = trip;
            });

    body
        div#fb-root 
        a(href="https://github.com/EragonJ/Trip.js") 
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

        .container
            .navbar
                .navbar-inner
                    a.brand(href="#") Trip.js
                    ul.nav
                        li.active 
                            a(href="#") Home
                        li 
                            a.start-tour(href="#") Start a Demo Tour
                        li 
                            a(href="https://github.com/EragonJ/Trip.js") Github

                    ul.nav.pull-right
                        li
                            a(href="http://eragonj.me") By EragonJ

            .jumbotron
                h1.step1 Trip.js

            .social-buttons.clearfix
                div.fb-like(data-href="http://eragonj.github.com/Trip.js/", data-send="true", data-layout="button_count", data-width="450", data-show-faces="false", data-send="false")
                div.twitter
                    a.twitter-share-button(href="https://twitter.com/share", data-hashtags="trip.js") Tweet
                div.github
                    iframe(src="http://ghbtns.com/github-btn.html?user=EragonJ&repo=Trip.js&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="152", height="20")

            .steps
                .step
                    h2
                        span.step2 What is Trip.js ?
                    p Trip.js is a useful plugin that can help you customize a tutorial trip easily. ( Based on jQuery )
                .step
                    h2 Setup ( Minimal )
                    ol 
                        - var jQueryCode = '<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>'
                        li Include jQuery ( has to check version later )
                            pre #{jQueryCode}

                        - var cssCode = '<link type="text/css" rel="stylesheet" href="src/trip.css">'
                        li Include src/trip.css
                            pre #{cssCode}

                        - var jsCode = '<script type="text/javascript" src="src/trip.js"></script>'
                        li Include src/trip.js
                            pre #{jsCode}

                        li Setup Trip.js
                            pre.step3.step4.step5.step6
                                | var trip = new Trip([
                                |    { 
                                |        sel : $('#element1'),
                                |        content : 'This is element 1'
                                |    },
                                |    {
                                |        sel : $('#element2'),
                                |        content : 'This is element 2'
                                |    }
                                | ], options); // details about options are listed below

                        li Take a Trip Now !
                            pre
                                | $(document).ready(function({
                                |     trip.start();
                                | });
                .step 
                    h2 Setup for Demo Tour
                    pre
                        | $(document).ready(function() {
                        |     var trip = new Trip([
                        |         { 
                        |             sel : $('.step1'), 
                        |             position : 'n', 
                        |             content : 'Hi, I am Trip.js', 
                        |             delay : 2000 
                        |         },
                        |         {
                        |             sel : $('.step2'),
                        |             position : 'e',
                        |             content : 'This is a plugin that can help you make hint flow easily !',
                        |             delay : 3000
                        |         },
                        |         {
                        |             sel : $('.step3'),
                        |             position : 'n',
                        |             content : 'Can be placed in many directinos - North',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step4'),
                        |             position : 'e',
                        |             content : 'East',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step5'),
                        |             position : 's',
                        |             content : 'South',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step6'),
                        |             position : 'w',
                        |             content : 'west',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step7'),
                        |             position : 'n',
                        |             content : 'One more thing, plz read this !',
                        |             expose : true,
                        |             delay : 7000
                        |         }
                        |     ], {
                        |         onTripStart : function() {
                        |             console.log("onTripStart");
                        |         },
                        |         onTripEnd : function() {
                        |             console.log("onTripEnd");
                        |         },
                        |         onTripStop : function() {
                        |             console.log("onTripStop");
                        |         },
                        |         backToTopWhenEnded : true,
                        |         delay : 2000
                        |     });
                        | 
                        |     $(".start-tour").click(function() {
                        |         trip.start(); 
                        |     });
                        | });

                .step
                    h2 Options
                    ul 
                        li 
                            h4 tripIndex
                            p You can set tripIndex ( start from 0 ) to specific trip block at start.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 onTripStart 
                            p You can set a callback function triggered when the trip starts.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 onTripEnd
                            p You can set a callback function triggered when the trip ends.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 backToTopWhenEnded
                            p You can ask Trip.js go back to top when ended.
                            p 
                                | Default : 
                                code 
                                    | false
                        li 
                            h4 overlayZindex
                            p You can set the basic zIndex for overlay if you want to expose elements.
                            p 
                                | Default : 
                                code 
                                    | 99999
                        li 
                            h4 delayPeriod
                            p every trip will be lived for 1 second (1000 ms) by default
                            p 
                                | Default : 
                                code 
                                    | 1000
                .step 
                    h2 Key Binding
                    ul
                        li 
                            h4 Right and Down arrows
                            p Go to next trip

                        li 
                            h4 Left and Up arrows
                            p Go back to previous trip

                        li 
                            h4 Space
                            p pause / continue

                        li 
                            h4 Esc
                            p Stop

                .step
                    h2 API
                    ul 
                        li 
                            h4 trip.start()
                            p Call this method to start your trip

                        li
                            h4 trip.stop()
                            p Call this method to stop your trip

                        li
                            h4 trip.pause()
                            p Call this method to pause/continue your trip

                .step.step7
                    h2 Notice
                    p 
                        | This plugin is still under development ! 
                        | If you find any bugs or want me to implement anything, 
                        | please feel free to open an issue ;)
                    p
                        a(href="https://github.com/EragonJ/Trip.js/issues") Open an issue
