extends ./layout

block vars
    - var rootPath = '../'

block content
    .step
        h2 Global Options
        ol 
            li 
                h4 tripIndex
                p You can set tripIndex ( start from 0 ) to specific trip block at start.
                p
                    | Type : 
                    code.type
                        | Number
                p 
                    | Default : 
                    code 
                        | 0
            li 
                h4 tripTheme 
                p You can set which theme to use, now have white and black two themes.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'black'
            li 
                h4 backToTopWhenEnded
                p You can ask Trip.js go back to top when ended.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 overlayZindex
                p You can set the basic zIndex for overlay if you want to expose elements.
                p
                    | Type : 
                    code.type
                        | Number
                p 
                    | Default : 
                    code 
                        | 99999
            li 
                h4 enableKeyBinding
                p You can decide to bind key events for trip navigations or not.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true
            li 
                h4 enableAnimation
                p You can enable animations on tripBlock.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true
            li 
                h4 showCloseBox
                p You can decide to add small close icon on each trip or not
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 skipUndefinedTrip
                p You can enable this option to tell Trip.js skip undefined trips ( Undefined trips mean the trips without content or without sel or can not be selected by jQuery ). 
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 delay
                p every trip will be lived for 1 second (1000 ms) by default
                p Setting to a <code>-1</code> will prevent auto-advancing. You must manually call <code>trip.next()</code>.
                p
                    | Type : 
                    code.type
                        | Number
                p
                    | Default : 
                    code 
                        | 1000
            li 
                h4 showNavigation
                p Toggle navigation buttons
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 prevLabel
                p Label for the previous button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Back'
            li 
                h4 nextLabel
                p Label for the next button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Next'

            li 
                h4 finishLabel
                p Label for the finish button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Dismiss'

            li 
                h4 animation
                p Animation that would be applied on the tripBlock.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'tada'

            li 
                h4 canGoPrev
                p 
                    |Determines if the user can go backwards. If set to a function
                    |it is called and the response is evaluated.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true

            li 
                h4 canGoNext
                p 
                    |Determines if the user can go forward. If set to a function
                    |it is called and the response is evaluated.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true
            li 
                h4 onTripStart()
                p You can set a callback function triggered when Trip.js starts.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
            li 
                h4 onTripEnd()
                p You can set a callback function triggered when Trip.js ends.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
            li 
                h4 onTripStop()
                p You can set a callback function triggered when Trip.js stops.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
            li 
                h4 onTripPause(tripIndex, tripObject)
                p You can set a callback function triggered when the Trip.js pauses. tripObject is your passed JSON for this current trip, and tripIndex is the current step index when the trip was paused. You can add add your customized functions in your object and call them when Trip.js is paused.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
            li 
                h4 onTripChange(tripIndex, tripObject)
                p You can set a callback function triggered when Trip.js changes to another step. tripObject is your passed JSON for this current trip, so you can add your customized functions in your object and call the function when Trip.js changes to this step.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
    .step
        h2 Local Options 
        h4 You can setup specific options for each step.
        ol
            li 
                h4 sel
                p Which selector is referenced in this step.
                p
                    | Type : 
                    code.type
                        | String
                    | (If your element is not present in DOM tree when initialization)
                    | or 
                    code.type
                        | jQuery Object
                p 
                    | Default : 
                    code 
                        | No default
            li 
                h4 content *Required*
                p What information that you want to show to users.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | No default
            li 
                h4 position
                p What position would you prefer for the tripBlock. We support 9 different positions : e, w, n, s, screen-ne, screen-se, screen-sw, screen-nw, screen-center.
                p To be clear, e, w, n, s are related to the sel, so for this use case, sel is required. For screen-ne, screen-se, screen-sw, screen-nw and screen-center are related to the screen (fixed in CSS), so in this case, you don't have to put sel.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'n'
                    | ( You can use e, w, n, s, screen-ne, screen-se, screen-sw, screen-nw, screen-center 9 positions )
            li 
                h4 delay
                p 
                    |You can delay longer / shoter for this step. You can assign
                    | <code>delay</code>
                    | in global options to change the default delay.
                    | Setting to a
                    | <code>-1</code>
                    | will prevent auto-advancing. You must manually call
                    | <code>trip.next()</code>
                    | .
                p
                    | Type : 
                    code.type
                        | Number
                p 
                    | Default : 
                    code 
                        | 1000
            li 
                h4 callback
                p 
                    |You can do whatever you want to do after this step passed. BTW, Trip.js will assign the current
                    | <code>tripIndex</code>
                    | (start from 0) as the first parameter back to your callback function for later use.
                p
                    | Type : 
                    code.type
                        | Function
                p 
                    | Default : 
                    code 
                        | $.noop
            li 
                h4 expose
                p 
                    |You can enable this option to expose your selected element in this trip.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 showNavigation
                p Toggle navigation buttons
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 showCloseBox
                p You can decide to add small close icon on each trip or not
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | false
            li 
                h4 prevLabel
                p Label for the previous button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Back'

            li 
                h4 nextLabel
                p Label for the next button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Next'

            li 
                h4 finishLabel
                p Label for the finish button.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'Dismiss'
            li 
                h4 tripBlockHTML
                p Base HTML for tripBlock
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | An array contains base HTML of tripBlock
            li 
                h4 canGoPrev
                p 
                    | Determines if the user can go forward. If set to a function
                    | it is called and the response is evaluated.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true

            li 
                h4 canGoNext
                p 
                    | Determines if the user can go forward. If set to a function
                    | it is called and the response is evaluated.
                p
                    | Type : 
                    code.type
                        | Boolean
                p 
                    | Default : 
                    code 
                        | true

            li 
                h4 animation
                p 
                    |Animation that would be applied on the tripBlock. if ignored,
                    |global value would be used.
                p
                    | Type : 
                    code.type
                        | String
                p 
                    | Default : 
                    code 
                        | 'tada'
    .step 
        h2 Key Binding
        ol
            li 
                h4 Right and Down arrows
                p Go to next trip

            li 
                h4 Left and Up arrows
                p Go back to previous trip

            li 
                h4 Space
                p pause / resume

            li 
                h4 Esc
                p Stop

    .step
        h2 API
        ol 
            li 
                h4 trip.start()
                p Call this method to start your trip

            li
                h4 trip.stop()
                p Call this method to stop your trip

            li
                h4 trip.pause()
                p Call this method to pause your trip (same as trip.resume)

            li
                h4 trip.resume()
                p Call this method to continue your trip (same as trip.pause)

            li 
                h4 trip.next()
                p jump to next step

            li 
                h4 trip.prev()
                p jump back to previous step

