extends ./layout

block content
    
    div.text-center
        input.start-demo-index.btn.btn-success.btn-large(type="button", value="Show Me a Quick Demo")

    .steps
        .step
            h2
                span.demo-index.step2 What is Trip.js ?
            p Trip.js is a plugin that can help you customize a tutorial trip easily with more flexibilities. ( Based on jQuery ) 
        .step
            h2 Version
            p 2.0.1
        .step
            h2 Setup ( Minimal )
            ol 
                li Include your jQuery
                    script(src="https://gist.github.com/EragonJ/5855718.js")

                li Include src/trip.css
                    script(src="https://gist.github.com/EragonJ/5855723.js")

                li Include src/trip.js
                    script(src="https://gist.github.com/EragonJ/5855736.js")

                li.demo-index.step3.step4.step5.step6 Setup Trip.js
                    script(src="https://gist.github.com/EragonJ/5855739.js")

                li.demo-index.step7 Take a Trip Now !
                    script.step7(src="https://gist.github.com/EragonJ/5855742.js")
        .step.demo-index.step8
            h2 Notice
            p 
                | This plugin is still under development !
                | If you find any bugs or want me to implement anything,
                | please feel free to open an issue ;)
            p
                a(href="https://github.com/EragonJ/Trip.js/issues") Open an issue

block extra_header
    link(rel='stylesheet', href='public/css/index.css')
    script(src="public/js/demo-index.js")
