.jumbotron {
    position: relative;
    margin: 40px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.navbar {
    margin-top: 20px;
}

.social-buttons {
    margin-left: 47%;
}

.fb-like {
    margin: 5px 0;
}

pre {
    margin: 10px 0;
}

code.type {
    color: #4d9be9;
}
