// Default Trip Theme - Dark
.trip-overlay.dark {
  @include opacity(0.2);
}

.trip-block.dark {
  background: #333;
  padding: 0;
  color: #fff;
  @include box-shadow(rgba(0, 0, 0, 0.39) 0 2px 2px 0);
  @include opacity(0.92);

  &.n:before {
    margin-top: -1px; // We have to hide the progress bar
    border-top-color: #333;
  }

  &.s:before {
    border-bottom-color: #555;
  }

  &.e:before {
    border-right-color: #333;
  }

  &.w:before {
    border-left-color: #333;
  }

  .trip-header {
    position: relative;
    font-size: 16px;
    background: #555;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    padding: 5px;
  }

  .trip-content {
    font-size: 12px;
    padding: 1em; 
    max-width: 450px;
  }

  .trip-close {
    right: 0;
    top: 0;
    margin: 3px 8px 0 0;
    color: #fff;
    font-size: 16px;

    &:hover {
      color: #000;
    }
  }

  .trip-navigation {

  }

  .trip-prev,
  .trip-next,
  .trip-skip {
    font-size: 12px;
    color:#fff;

    &:hover {
      background:#666;
    }
  }

  .trip-prev,
  .trip-next {
    &.disabled {
      color: grey
    }
  }

  .trip-next {
    border-radius: 0px 0px 5px 0px;
  }

  .trip-prev {
    border-radius: 0px 0px 0px 5px;
  }

  .trip-progress-bar {
    background: #acf9ac;
  }
}
