@import "compass/css3";

.trip-block {

    display: none;
    padding: 8px;
    position: absolute;
    text-align: center;
    min-width: 100px;
    border-radius: 3px;

    // default theme
    &.black {
        background: #333;
        color: #DDD;

        .trip-arrow {
            background-image: url("./arrow.png");
        }
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 4px 0);
    }

    &.white {
        background: #fff;
        color: #333;

        .trip-arrow {
            background-image: url("./arrow-white.png");
        }
    }
}

// define its basic rules
.trip-arrow {
    position: absolute;
    background: none;
    z-index: 1;

    &.n {
        height: 8px;
        bottom: -8px;
        left: 15px;
        right: 15px;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }

    &.s {
        height: 8px;
        top: -8px;
        left: 15px;
        right: 15px;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    &.e {
        width: 8px;
        height: 16px;
        left: -8px;
        top: 11px;
        bottom: 15px;
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    &.w {
        width: 8px;
        height: 16px;
        right: -8px;
        top: 11px;
        bottom: 15px;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
}

.trip-progress-wrapper {

}

.trip-progress-bar {
    height: 1px;
    background-color: #444;
    width: 0;
}

.trip-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

/*
 *  TODO:
 *  implement with more details later
 */
.trip-exposed { 
    background: white
}
