@import "compass/css3";

@mixin trip-arrow-color($color) {
    &.n:before {
        border-top-color: $color;
    }

    &.s:before {
        border-bottom-color: $color;
    }

    &.e:before {
        border-right-color: $color;
    }

    &.w:before {
        border-left-color: $color;
    }
}

.trip-block {

    display: none;
    padding: 8px;
    position: absolute;
    text-align: center;
    min-width: 100px;
    border-radius: 3px;

    // default theme
    &.black {
        background: #333;
        color: #DDD;

        .trip-close {
            color: #ddd;
            &:hover {
                color: #fff;
            }
        }
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 4px 0);

        @include trip-arrow-color(#333);
    }

    &.white {
        background: #fff;
        color: #333;

        .trip-close {
            color: #333;
            &:hover {
                color: #000;
            }
        }

        @include trip-arrow-color(#fff);
    }

    &:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }

    $arrow-size: 8px;
    &.n:before, &.s:before {
        border-width: $arrow-size;
        left: 50%;
        margin-left: -$arrow-size;
    }

    &.e:before, &.w:before {
        border-width: $arrow-size;
        top: 50%;
        margin-top: -$arrow-size;
    }

    &.n:before {
        top: 100%;
    }

    &.s:before {
        bottom: 100%;
    }

    &.e:before {
        right: 100%;
    }

    &.w:before {
        left: 100%;
    }

    // sepcial directions will be positioned fixed
    &.screen-ne,
    &.screen-se,
    &.screen-sw,
    &.screen-nw,
    &.screen-center {
        position: fixed;
    }
}

// define its basic rules
.trip-close {
    font-size: 80%;
    float: right;
    margin-top: -5px;

    &:hover {
        text-decoration: none;
    }
}

.trip-content {
    clear: right;
}

.trip-progress-wrapper {

}

.trip-progress-bar {
    height: 1px;
    background-color: #444;
    width: 0;
}

.trip-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;

    // NOTE
    // z-index is an option defined in trip.js

    @include opacity(0.7);
}

.trip-prev, .trip-next {
  padding: 5px 10px;
}

/*
 *  TODO:
 *  implement with more details later
 */
.trip-exposed { 
    background: white
}
